.

.c1 {
  /*
  RGB-arvot X440: 213, 217, 214 (#D5D9D6)

  RGB-arvot V389: 225, 217, 152 (#E1D998)

  RGB-arvot F503: 246, 243, 234 (#F6F3EA)

  RGB-arvot H303: 249, 228, 164 (#F6F3EA)
*/
color: rgb(255, 255, 255);
}
.c1 #X440
{
  background: #D5D9D6;
}
.c1 #V389
{
  background: #E1D998;
}
.c1 #F503
{
  background: #F6F3EA;
}
.c1 #H303
{
  background: #F6F3EA;
}
.c2 {
  /*
  RGB-arvot X445: 179, 192, 177 (#B3C0B1)

  RGB-arvot H450: 212, 207, 179 (#D4CFB3)

  RGB-arvot Y319: 245, 228, 218 (#F5E4DA)

  RGB-arvot F309: 246, 239, 228 (#F6EFE4)
*/
color: rgb(255, 255, 255);
}
.c2 #X445
{
  background: #B3C0B1;
}
.c2 #H450
{
  background: #D4CFB3;
}.c2 #Y319
{
  background: #F5E4DA;
}.c2 #F309
{
  background: #F6EFE4;
}
.c3 {
  /*
  RGB-arvot K318: 201, 107, 94 (#C96B5E)

  RGB-arvot K412: 197, 120, 113 (#C57871)

  RGB-arvot J423: 198, 130, 147 (#C68293)

  RGB-arvot F313: 244, 234, 223 (#F4EADF)
*/
color: rgb(255, 255, 255);
}
.c3 #K318
{
  background: #C96B5E;
}
.c3 #K412
{
  background: #C57871;
}.c3 #J423
{
  background: #C68293;
}.c3 #F313
{
  background: #F4EADF;
}
.c4 {
  /*
  RGB-arvot S321: 171, 94, 95 (#AB5E5F)

  RGB-arvot V315: 221, 140, 101 (#DD8C65)

  RGB-arvot S461: 184, 150, 114 (#B89672)

  RGB-arvot G398: 239, 222, 198 (#EFDEC6)
*/
color: rgb(255, 255, 255);
}
.c4 #S321
{
  background: #AB5E5F;
}
.c4 #V315
{
  background: #DD8C65;
}.c4 #S461
{
  background: #B89672;
}.c4 #G398
{
  background: #EFDEC6;
}
.c5 {
  /*
  RGB-arvot V451: 194, 188, 153 (#C2BC99)

  RGB-arvot K472: 165, 117, 103 (#A57567)

  RGB-arvot Y415: 216, 187, 181 (#D8BBB5)

  RGB-arvot Y406: 241, 218, 199 (#F1DAC7)
*/
color: rgb(255, 255, 255);
}
.c5 #V451
{
  background: #C2BC99;
}
.c5 #K472
{
  background: #A57567;
}.c5 #Y415
{
  background: #D8BBB5;
}.c5 #Y406
{
  background: #F1DAC7;
}
.c6 {
  /*
  RGB-arvot K448: 154, 163, 133 (#9AA385)

  RGB-arvot J496: 196, 200, 201 (#C4C8C9)

  RGB-arvot G485: 233, 229, 220 (#E9E5DC)

  RGB-arvot Y453: 220, 213, 186 (#DCD5BA)
*/
color: rgb(255, 255, 255);
}
.c6 #K448
{
  background: #9AA385;
}
.c6 #J496
{
  background: #C4C8C9;
}.c6 #G485
{
  background: #E9E5DC;
}.c6 #Y453
{
  background: #DCD5BA;
}
.c7 {
  /*
  RGB-arvot L421: 172, 92, 100 (#AC5C64)

  RGB-arvot J439: 170, 183, 182 (#AAB7B6)

  RGB-arvot F461: 244, 234, 219 (#F4EADB)

  RGB-arvot F444: 224, 227, 219 (#E0E3DB)
*/
color: rgb(255, 255, 255);
}
.c7 #L421
{
  background: #AC5C64;
}
.c7 #J439
{
  background: #AAB7B6;
}.c7 #F461
{
  background: #F4EADB;
}.c7 #F444
{
  background: #E0E3DB;
}
.c8 {
  /*
  RGB-arvot V423: 204, 156, 167 (#CC9CA7)

  RGB-arvot Y467: 212, 202, 193 (#D4CAC1)

  RGB-arvot F497: 242, 242, 237 (#F2F2ED)

  RGB-arvot G351: 208, 221, 237 (#D0DDED)
*/
color: rgb(255, 255, 255);
}
.c8 #V423
{
  background: #CC9CA7;
}
.c8 #Y467
{
  background: #D4CAC1;
}.c8 #F497
{
  background: #F2F2ED;
}.c8 #G351
{
  background: #D0DDED;
}
.c9 {
  /*
  RGB-arvot Y452: 230, 226, 205 (#E6E2CD)

  RGB-arvot X428: 210, 206, 207 (#D2CECF)

  RGB-arvot J503: 244, 239, 238 (#F4EFEE)

  RGB-arvot Y339: 234, 222, 233 (#EADEE9)
*/
color: rgb(255, 255, 255);
}
.c9 #Y452
{
  background: #E6E2CD;
}
.c9 #X428
{
  background: #D2CECF;
}
.c9 #J503
{
  background: #F4EFEE;
}
.c9 #Y339
{
  background: #EADEE9;
}
.c10 {
  /*
  RGB-arvot S390: 226, 205, 120 (#E2CD78)

  RGB-arvot K457: 162, 150, 120 (#A29678)

  RGB-arvot S500: 116, 123, 131 (#747B83)

  RGB-arvot V503: 239, 238, 235 (#EFEEEB)
*/
color: rgb(255, 255, 255);
}
.c10 #S390
{
  background: #E2CD78;
}
.c10 #K457
{
  background: #A29678;
}.c10 #S500
{
  background: #747B83;
}.c10 #V503
{
  background: #EFEEEB;
}
.c11 {
  /*
  RGB-arvot M315: 216, 102, 64 (#D86640)

  RGB-arvot N323: 170, 59, 69 (#AA3B45)

  RGB-arvot H499: 197, 200, 199 (#C5C8C7)

  RGB-arvot G497: 235, 234, 230 (#EBEAE6)
*/
color: rgb(255, 255, 255);
}
.c11 #M315
{
  background: #D86640;
}
.c11 #N323
{
  background: #AA3B45;
}.c11 #H499
{
  background: #C5C8C7;
}.c11 #G497
{
  background: #EBEAE6;
}
.c12 {
  /*
  RGB-arvot S489: 106, 109, 120 (#6A6D78)

  RGB-arvot K485: 157, 143, 131 (#9D8F83)

  RGB-arvot X460: 210, 201, 181 (#D2C9B5)

  RGB-arvot F428: 217, 217, 219 (#D9D9DB)
*/
color: rgb(255, 255, 255);
}
.c12 #S489
{
  background: #6A6D78;
}
.c12 #K485
{
  background: #9D8F83;
}
.c12 #X460
{
  background: #D2C9B5;
}
.c12 #F428
{
  background: #D9D9DB;
}
.c13 {
  /*
  RGB-arvot S491: 89, 103, 109 (#59676D)

  RGB-arvot M495: 149, 153, 142 (#95998E)

  RGB-arvot K491: 164, 182, 188 (#A4B6BC)

  RGB-arvot X440: 213, 217, 214 (#D5D9D6)
*/
}
.c13 #S491
{
  background: #59676D;
}
.c13 #M495
{
  background: #95998E;
}
.c13 #K491
{
  background: #A4B6BC;
}
.c13 #X440
{
  background: #D5D9D6;
}
.c14 {
  /*
  RGB-arvot L356: 50, 108, 168 (#326CA8)

  RGB-arvot Y450: 232, 232, 220 (#E8E8DC)

  RGB-arvot N499: 103, 105, 105 (#676969)

  RGB-arvot X487: 200, 196, 187 (#C8C4BB)
*/
color: rgb(255, 255, 255);
}
.c14 #L356
{
  background: #326CA8;
}
.c14 #Y450
{
  background: #E8E8DC;
}
.c14 #N499
{
  background: #676969;
}
.c14 #X487
{
  background: #C8C4BB;
}
.c15 {
  /*
  RGB-arvot V479: 163, 145, 142 (#A3918E)

  RGB-arvot N424: 124, 90, 102 (#7C5A66)

  RGB-arvot F309: 246, 239, 228 (#F6EFE4)

  RGB-arvot H484: 219, 209, 198 (#DBD1C6)
*/
color: rgb(255, 255, 255);
}
.c15 #V479
{
  background: #A3918E;
}
.c15 #N424
{
  background: #7C5A66;
}
.c15 #F309
{
  background: #F6EFE4;
}
.c15 #H484
{
  background: #DBD1C6;
}
.c16 {
  /*
  RGB-arvot M425: 95, 70, 78 (#5F464E)

  RGB-arvot M499: 121, 125, 127 (#797D7F)

  RGB-arvot F462: 242, 235, 222 (#F2EBDE)

  RGB-arvot X459: 208, 198, 177 (#D0C6B1)
*/
color: rgb(255, 255, 255);
}
.c16 #M425
{
  background: #5F464E;
}
.c16 #M499
{
  background: #797D7F;
}
.c16 #F462
{
  background: #F2EBDE;
}
.c16 #X459
{
  background: #D0C6B1;
}
.c17 {
  /*
  RGB-arvot V494: 90, 95, 89 (#5A5F59)

  RGB-arvot M416: 115, 75, 69 (#734B45)

  RGB-arvot Y310: 243, 230, 209 (#F3E6D1)

  RGB-arvot V446: 192, 193, 172 (#C0C1AC)
*/
color: rgb(255, 255, 255);
}
.c17 #V494
{
  background: #5A5F59;
}
.c17 #M416
{
  background: #734B45;
}
.c17 #Y310
{
  background: #F3E6D1;
}
.c17 #V446
{
  background: #C0C1AC;
}
.c18 {
  /*
  RGB-arvot S430: 150, 160, 176 (#96A0B0)

  RGB-arvot J487: 183, 179, 170 (#B7B3AA)

  RGB-arvot F485: 241, 235, 227 (#F1EBE3)

  RGB-arvot G395: 235, 217, 189 (#EBD9BD)
*/
color: rgb(255, 255, 255);
}
.c18 #S430
{
  background: #96A0B0;
}
.c18 #J487
{
  background: #B7B3AA;
}
.c18 #F485
{
  background: #F1EBE3;
}
.c18 #G395
{
  background: #EBD9BD;
}
.c19{
  color: rgb(255, 255, 255);
}
.c19 #M403{
  /*color: (255-170, 255-160, 255-71);*/
  background: #AA6A47;
}
.c19 #V306{
  /*RGB-arvot V306: 237, 200, 147 (#EDC893)*/
  background: #EDC893;
}
.c19 #V462{
  /*RGB-arvot V462: 206, 178, 142 (#CEB28E)*/
  background: #CEB28E;
}
.c19 #F307{
  /*RGB-arvot F307: 249, 241, 221 (#F9F1DD)*/
  background: #F9F1DD;
}

.c20{
  color: rgba(255, 255, 109, 0.5);
}
.c20 #V407{
  /*background: #BC896D;*/
  background: rgb(188, 137, 109);

}
.c20 #S486{
  background: #9A9084;
  /*background: rgb(154, 144, 132)*/
}
.c20 #F457{
  background: #EDE9DE;
  /*background: rgb(237, 233, 222)*/
}
.c20 #X462{
  background: #E0CAAC;
  /*background: rgb(224, 202, 172)*/
}
.c21 {
  /*
  RGB-arvot M487: 82, 78, 72 (#524E48)

RGB-arvot J463: 215, 183, 160 (#D7B7A0)

RGB-arvot X394: 204, 184, 148 (#CCB894)

RGB-arvot F392: 242, 230, 193 (#F2E6C1)
  */
  color: rgb(255, 255, 255);
}
.c21 #M487
{
  background: #524E48;
}
.c21 #J463
{
  background: #D7B7A0;
}
.c21 #X394
{
  background: #D7B7A0;
}
.c21 #F392
{
  background: #D7B7A0;
}
.c22 {
  /*
  RGB-arvot M425: 95, 70, 78 (#5F464E)

RGB-arvot N484: 140, 122, 105 (#8C7A69)

RGB-arvot V466: 187, 166, 143 (#BBA68F)

RGB-arvot K408: 194, 129, 104 (#C28168)
  */
  color: rgb(255, 255, 255);
}
.c22 #M425
{
  background: #5F464E;
}
.c22 #N484
{
  background: #8C7A69;
}.c22 #V466
{
  background: #BBA68F;
}.c22 #K408
{
  background: #C28168;
}
.c23 {
  /*
  RGB-arvot L457: 140, 128, 99 (#8C8063)

RGB-arvot S407: 161, 103, 78 (#A1674E)

RGB-arvot Y302: 240, 231, 205 (#F0E7CD)

RGB-arvot V454: 210, 198, 159 (#D2C69F)
  */
  color: rgb(255, 255, 255);
}
.c23 #L457
{
  background: #8C8063;
}
.c23 #S407
{
  background: #A1674E;
}.c23 #Y302
{
  background: #F0E7CD;
}.c23 #V454
{
  background: #D2C69F;
}
.c24 {
  /*
  RGB-arvot N451: 113, 112, 75 (#71704B)

RGB-arvot Y307: 243, 235, 217 (#F3EBD9)

RGB-arvot K484: 181, 164, 145 (#B5A491)

RGB-arvot H459: 219, 202, 175 (#DBCAAF)
  */
  color: rgb(255, 255, 255);
}
.c24 #N451
{
  background: #71704B;
}
.c24 #Y307
{
  background: #F3EBD9;
}
.c24 #K484
{
  background: #B5A491;
}
.c24 #H459
{
  background: #DBCAAF;
}
.c25 {
  /*
  RGB-arvot V463: 183, 157, 128 (#B79D80)

RGB-arvot L481: 128, 112, 103 (#807067)

RGB-arvot F470: 242, 232, 223 (#F2E8DF)

RGB-arvot Y467: 212, 202, 193 (#D4CAC1)
  */
  color: rgb(255, 255, 255);
}
.c25 #V463
{
  background: #B79D80;
}
.c25 #L481
{
  background: #807067;
}
.c25 #F470
{
  background: #F2E8DF;
}
.c25 #Y467
{
  background: #D4CAC1;
}
.c26 {
  /*
  RGB-arvot H446: 208, 210, 195 (#D0D2C3)

RGB-arvot N483: 88, 77, 70 (#584D46)

RGB-arvot L487: 129, 121, 113 (#817971)

RGB-arvot V484: 191, 180, 165 (#BFB4A5)
  */
  color: rgb(255, 255, 255);
}
.c26 #H446
{
  background: #D0D2C3;
}
.c26 #N483
{
  background: #584D46;
}
.c26 #L487
{
  background: #817971;
}
.c26 #V484
{
  background: #BFB4A5;
}
.c27 {
  /*
  RGB-arvot N442: 71, 84, 79 (#47544F)

RGB-arvot M463: 118, 88, 65 (#765841)

RGB-arvot F466: 232, 221, 205 (#E8DDCD)

RGB-arvot S486: 154, 144, 132 (#9A9084)
  */
  color: rgb(255, 255, 255);
}
.c27 #N442
{
  background: #47544F;
}
.c27 #M463
{
  background: #765841;
}.c27 #F466
{
  background: #E8DDCD;
}.c27 #S486
{
  background: #9A9084;
}
.c28 {
  /*
  RGB-arvot V454: 210, 198, 159 (#D2C69F)

RGB-arvot J367: 118, 164, 169 (#76A4A9)

RGB-arvot L350: 85, 97, 134 (#556186)

RGB-arvot V353: 153, 175, 201 (#99AFC9)
  */
  color: rgb(255, 255, 255);
}
.c28 #V454
{
  background: #D2C69F;
}
.c28 #J367
{
  background: #76A4A9;
}
.c28 #L350
{
  background: #556186;
}
.c28 #V353
{
  background: #99AFC9;
}
.c29 {
  /*
  RGB-arvot M411: 139, 74, 68 (#8B4A44)

RGB-arvot S484: 151, 135, 115 (#978773)

RGB-arvot X460: 210, 201, 181 (#D2C9B5)

RGB-arvot S440: 116, 142, 139 (#748E8B)
  */
  color: rgb(255, 255, 255);
}
.c29 #M411
{
  background: #8B4A44;
}
.c29 #S484
{
  background: #978773;
}
.c29 #X460
{
  background: #D2C9B5;
}
.c29 #S440
{
  background: #748E8B;
}
.c30 {
  /*
  RGB-arvot S407: 161, 103, 78 (#A1674E)

RGB-arvot K402: 217, 149, 93 (#D9955D)

RGB-arvot G309: 249, 233, 210 (#F9E9D2)

RGB-arvot Y370: 195, 224, 211 (#C3E0D3)
  */
  color: rgb(255, 255, 255);
}
.c30 #S407
{
  background: #A1674E;
}
.c30 #K402
{
  background: #D9955D;
}
.c30 #G309
{
  background: #F9E9D2;
}
.c30 #Y370
{
  background: #C3E0D3;
}
.c31 {
  /*
  RGB-arvot Y489: 67, 67, 69 (#434345)

RGB-arvot S366: 51, 128, 145 (#338091)

RGB-arvot K384: 149, 168, 113 (#95A871)

RGB-arvot V389: 225, 217, 152 (#E1D998)
  */
  color: rgb(255, 255, 255);
}
.c31 #Y489
{
  background: #434345;
}
.c31 #S366
{
  background: #338091;
}
.c31 #K384
{
  background: #95A871;
}
.c31 #V389
{
  background: #E1D998;
}
.c32 {
  /*
  RGB-arvot N457: 106, 97, 75 (#6A614B)

RGB-arvot M319: 183, 75, 66 (#B74B42)

RGB-arvot V460: 184, 166, 136 (#B8A688)

RGB-arvot X306: 238, 217, 179 (#EED9B3)
  */
  color: rgb(255, 255, 255);
}
.c32 #N457
{
  background: #6A614B;
}
.c32 #M319
{
  background: #B74B42;
}
.c32 #V460
{
  background: #B8A688;
}
.c32 #X306
{
  background: #EED9B3;
}
.c33 {
  /*
  RGB-arvot X497: 90, 88, 82 (#5A5852)

RGB-arvot K457: 162, 150, 120 (#A29678)

RGB-arvot N417: 99, 68, 68 (#634444)

RGB-arvot K396: 207, 161, 106 (#CFA16A)
  */
  color: rgb(255, 255, 255);
}
.c33 #X497
{
  background: #5A5852;
}
.c33 #K457
{
  background: #A29678;
}
.c33 #N417
{
  background: #634444;
}
.c33 #K396
{
  background: #CFA16A;
}
.c34 {
  /*
  RGB-arvot V353: 153, 175, 201 (#99AFC9)

RGB-arvot F398: 244, 231, 214 (#F4E7D6)

RGB-arvot V466: 187, 166, 143 (#BBA68F)

RGB-arvot M326: 158, 66, 71 (#9E4247)
  */
  color: rgb(255, 255, 255);
}
.c34 #V353
{
  background: #99AFC9;
}
.c34 #F398
{
  background: #F4E7D6;
}
.c34 #V466
{
  background: #BBA68F;
}
.c34 #M326
{
  background: #9E4247;
}
.c35 {
  /*
  RGB-arvot M427: 116, 108, 126 (#746C7E)

RGB-arvot V397: 231, 187, 102 (#E7BB66)

RGB-arvot X392: 232, 210, 140 (#E8D28C)

RGB-arvot Y411: 233, 205, 197 (#E9CDC5)
  */
  color: rgb(255, 255, 255);
}
.c35 #M427
{
  background: #746C7E;
}
.c35 #V397
{
  background: #E7BB66;
}
.c35 #X392
{
  background: #E8D28C;
}
.c35 #Y411
{
  background: #E9CDC5;
}
.c36 {
  /*
  RGB-arvot K454: 169, 149, 89 (#A99559)

RGB-arvot X502: 80, 75, 80 (#504B50)

RGB-arvot N339: 124, 77, 99 (#7C4D63)

RGB-arvot G484: 229, 221, 212 (#E5DDD4)
  */
  color: rgb(255, 255, 255);
}
.c36 #K454
{
  background: #A99559;
}
.c36 #X502
{
  background: #504B50;
}
.c36 #N339
{
  background: #7C4D63;
}
.c36 #G484
{
  background: #E5DDD4;
}
.c37 {
  /*
  RGB-arvot N484: 140, 122, 105 (#8C7A69)

RGB-arvot 2073_HM: 179, 179, 161 (#B3B3A1)

RGB-arvot X442: 215, 227, 222 (#D7E3DE)

RGB-arvot G503: 245, 241, 231 (#F5F1E7)
  */
  color: rgb(255, 255, 255);
}
.c37 #N484
{
  background: #8C7A69;
}
.c37 #2073_HM
{
  background: #B3B3A1;
}
.c37 #X442
{
  background: #D7E3DE;
}
.c37 #G503
{
  background: #F5F1E7;
}
.c38 {
  /*
  RGB-arvot L488: 148, 146, 148 (#949294)

RGB-arvot 2-coloured_Taika_glaze: 190, 186, 161 (#BEBAA1)

RGB-arvot X486: 211, 206, 198 (#D3CEC6)

RGB-arvot G313: 251, 234, 217 (#FBEAD9)
  */
  color: rgb(255, 255, 255);
}
.c38 #L488
{
  background: #949294;
}
.c38 #coloured_Taika_glaze
{
  background: #BEBAA1;
}
.c38 #X486
{
  background: #D3CEC6;
}
.c38 #G313
{
  background: #FBEAD9;
}
.c39 {
  /*
  RGB-arvot Taika_KM: 183, 166, 97 (#B7A661)

RGB-arvot Y498: 63, 64, 65 (#3F4041)

RGB-arvot S501: 95, 86, 88 (#5F5658)

RGB-arvot F458: 241, 234, 223 (#F1EADF)
  */
  color: rgb(255, 255, 255);
}
.c39 #Taika_KM
{
  background: #B7A661;
}
.c39 #Y498
{
  background: #3F4041;
}
.c39 #S501
{
  background: #5F5658;
}
.c39 #F458
{
  background: #F1EADF;
}
.c40 {
  /*
  RGB-arvot L487: 129, 121, 113 (#817971)

RGB-arvot 2070_KM: 100, 98, 55 (#646237)

RGB-arvot X458: 213, 208, 191 (#D5D0BF)

RGB-arvot V481: 183, 171, 169 (#B7ABA9)
  */
  color: rgb(255, 255, 255);
}
.c40 #L487
{
  background: #817971;
}
.c40 #2070_KM
{
  background: #646237;
}
.c40 #X458
{
  background: #D5D0BF;
}
.c40 #V481
{
  background: #B7ABA9;
}
.c41 {
  /*
RGB-arvot N339: 124, 77, 99 (#7C4D63)

RGB-arvot 2076_HM: 192, 176, 176 (#C0B0B0)

RGB-arvot V489: 88, 91, 100 (#585B64)

RGB-arvot N500: 137, 146, 154 (#89929A)
*/
color: rgb(255, 255, 255);
}
.c41 #N339
{
  background: #7C4D63;
}
.c41 #2076_HM
{
  background: #C0B0B0;
}
.c41 #V489
{
  background: #585B64;
}
.c41 #N500
{
  background: #89929A;
}
.c42 {
  /*
  RGB-arvot X396: 202, 177, 140 (#CAB18C)

  RGB-arvot Taika_HM: 178, 178, 178 (#B2B2B2)

  RGB-arvot F484: 235, 234, 227 (#EBEAE3)

  RGB-arvot M476: 116, 74, 68 (#744A44)
*/
color: rgb(255, 255, 255);
}
.c42 #X396
{
  background: #CAB18C;
}
.c42 #Taika_HM
{
  background: #B2B2B2;
}
.c42 #F484
{
  background: #EBEAE3;
}
.c42 #M476
{
  background: #744A44;
}
.c43 {
  /*
  RGB-arvot N483: 88, 77, 70 (#584D46)

  RGB-arvot V485: 182, 174, 163 (#B6AEA3)

  RGB-arvot H485: 217, 206, 194 (#D9CEC2)

  RGB-arvot L418: 162, 89, 91 (#A2595B)
*/
color: rgb(255, 255, 255);
}
.c43 #N483
{
  background: #584D46;
}
.c43 #V485
{
  background: #B6AEA3;
}
.c43 #H485
{
  background: #D9CEC2;
}
.c43 #L418
{
  background: #A2595B;
}
.c44 {
  /*
  RGB-arvot N419: 116, 68, 68 (#744444)

  RGB-arvot 2079_KM: 186, 163, 110 (#BAA36E)

  RGB-arvot N464: 96, 78, 72 (#604E48)

  RGB-arvot V396: 192, 158, 117 (#C09E75)
*/
color: rgb(255, 255, 255);
}
.c44 #N419
{
  background: #744444;
}
.c44 #2079_KM
{
  background: #BAA36E;
}
.c44 #N464
{
  background: #604E48;
}
.c44 #V396
{
  background: #C09E75;
}
.c45 {
  /*
  RGB-arvot N482: 90, 77, 69 (#5A4D45)

  RGB-arvot M334: 133, 66, 85 (#854255)

  RGB-arvot Taika_KM: 183, 166, 97 (#B7A661)

  RGB-arvot S460: 157, 138, 108 (#9D8A6C)
*/
color: rgb(255, 255, 255);
}
.c45 #N482
{
  background: #5A4D45;
}
.c45 #M334
{
  background: #854255;
}
.c45 #Taika_KM
{
  background: #B7A661;
}
.c45 #S460
{
  background: #9D8A6C;
}
